.navbar {
    width: 100%;
    height: 80px;
    background-color: rgba($color: #00213f, $alpha: 1.0);
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    
    a, .glowText { 
        margin-left: 20px;
        transition: .3s;
    
        &:hover {
            cursor: pointer;
            transform: translate(0, -1px);
            text-shadow: 
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #fff,
            0 0 82px #fff,
            0 0 92px #fff,
            0 0 102px #fff,
            0 0 151px #fff,
            ;
            transition: .3s;
        }
    }
}

